# Git
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Temporary / build files
*.log
*.tmp
/tmp
/var/AlarmServer/log/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile*
.dockerignore
test.sh
docker/
test/
