# =============================================
# ENVISALINK & PROXY CONNECTION
# =============================================
[envisalink]

host={IP}
port={PORT}
pass={USERNAME}

enableproxy=True
proxyport={PROXY_PORT}
proxypass={PROXY_USERNAME}

alarmcode={ALARMCODE}

keepalive=60
commandtimeout=60
kpeventtimeout=90
lograwmessage=False

# =============================================
# WEB SERVER SETTINGS
# =============================================
[alarmserver]

# Logging
#logfile=/var/AlarmServer/log/alarmserver.log
logurlrequests=False
#DEBUG INFO WARNING ERROR CRITICAL
loglevel={LOGLEVEL}


# HTTP / HTTPS
http=False
https=False
httpport=8011
httpsport=8111

# SSL Certificates
certfile=./server.crt
keyfile=./server.key

# Web authentication
webauthuser=user
webauthpass=test


# =============================================
# WEB INTERFACE SETTINGS
# =============================================
maxevents=10
maxallevents=100
eventtimeago=True


# =============================================
# PARTITIONS, ZONES AND USERS
# =============================================
# Partition names
partition1=HOME

# Zone names
zone1=A
zone2=B
zone3=C
zone4=D
zone5=E
zone6=F
zone7=G
zone8=H
zone9=I
zone10=J
zone11=K
zone12=L
zone13=M
zone14=N
zone15=O
zone16=P

# Ignore uknown zones && partitions
ignore_unknown_zones=True

# User names
#user1=
#user2=


# =============================================
# INTEGRATIONS
# =============================================
[pushover]
enable=False
usertoken=

[pushbullet]
enable=False
apikey=

[ifttt_maker]
enable=False
key=
eventName=

[smartthings]
enable=False
url_base=https://graph.api.smartthings.com/api/smartapps/installations
app_id=
access_token=
event_codes=601,602,609,610,650,651,652,654,656,657

[dummystates]
enable=True